<!-- START HEADER -->
<div ng-controller="HeaderCtrl" class="header " ng-class="{'transparent': is('app.maps.vector') || is('app.maps.google') }">
    <!-- START MOBILE CONTROLS -->
    <!-- LEFT SIDE -->
    <div class="pull-left full-height visible-sm visible-xs">
        <!-- START ACTION BAR -->
        <div class="sm-action-bar">
            <a href="" class="btn-link toggle-sidebar" data-toggle="sidebar">
                <span class="icon-set menu-hambuger"></span>
            </a>
        </div>
        <!-- END ACTION BAR -->
    </div>
    <!-- RIGHT SIDE -->
    <!--
    <div class="pull-right full-height visible-sm visible-xs">
    -->
        <!-- START ACTION BAR -->
        <!--
        <div class="sm-action-bar">
            <a href="" class="btn-link" data-toggle="quickview" data-toggle-element="#quickview">
                <span class="icon-set menu-hambuger-plus"></span>
            </a>
        </div>
        -->
        <!-- END ACTION BAR -->
    <!--
    </div>
    -->
    <!-- END MOBILE CONTROLS -->
    <div class=" pull-left sm-table">
        <div class="header-inner">
            <div class="brand inline">
                <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" ui-jq="unveil" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
            </div>
            <!-- BEGIN NOTIFICATION DROPDOWN -->
            <!-- END NOTIFICATION DROPDOWN -->
            <!-- 
            <a class="search-link" ng-click="showSearchOverlay()"><i class="pg-search"></i><span class="bold" translate="Type anywhere to search"></span></a>
            -->
        </div>
    </div>
    <div class=" pull-right">
        <div class="header-inner">
        <language-picker languages="['en-US','zh-CN','zh-HK']" on-change="changeLanguage(language.code)" icon="fa fa-globe" flags='true'>{{ 'LANGUAGE' | translate }}
        </language-picker>
        </div>
    </div>
    <div class=" pull-right">
        <!-- START User Info-->
        <div class="visible-lg visible-md m-t-10">
            <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
                <span class="semi-bold">{{fullName}}</span>
            </div>
            <div class="dropdown pull-right">
                <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="thumbnail-wrapper d32 circular inline m-t-5">
                <img src="assets/img/profiles/avatar.jpg" alt="" data-src="assets/img/profiles/avatar.jpg" ui-jq="unveil" data-src-retina="assets/img/profiles/avatar.jpg" width="32" height="32">
            </span>
                </button>
                <ul class="dropdown-menu profile-dropdown" role="menu">
                    <li class="bg-master-lighter">
                        <a href="" ng-click="logout()" class="clearfix">
                            <span class="pull-left">Logout</span>
                            <span class="pull-right"><i class="pg-power"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END User Info-->
    </div>
</div>
<!-- END HEADER -->