<div class="panel panel-transparent no-padding">
    <div class="panel-body no-padding">

     <!-- Swiper -->
    <ks-swiper-container  show-nav-buttons="true" space-between="30">
        <ks-swiper-slide ng-repeat="s in [1,2,3,4,5]">
            <div class="panel panel-transparent">
                <div class="panel-body no-padding">
                    <div class="title">Slide {{s}}</div>
                    <div class="subtitle">Subtitle</div>

                        <img ng-src="assets/img/bedrooms/bedroom1_0{{s}}.jpg">
                    

                </div>
            </div>

        </ks-swiper-slide>
    </ks-swiper-container>
</div>
</div>






<!--
        <ks-swiper-slide ng-repeat="s in [1,2,3,4,5]">
            <div class="panel panel-transparent">
                <div class="panel-body no-padding">
                    <div class="row">
                        <img ng-src="assets/img/bedrooms/bedroom1_0{{s}}.jpg">
                    </div>

                    <div class="row">
                        <div class="title" >Slide {{s}}</div>
                        <div class="text" >
                            <p>非常不错 还可以 非常不错 还可以 非常不错 还可以</p>
                        </div>
                    </div>
                </div>


            </div>
        </ks-swiper-slide>
-->

    
